<article>
    <header>
    <h1>Talks</h1>
    </header>
    <section>
        <header>
        </header>
        <div ng-include="talkHeaderTemplate"></div>

    </section>
    <div class="speaker">
        <div class="avatar">
            <a href="http://twitter.com/RobinThrift"><img src="https://secure.gravatar.com/avatar/8c7e62e1212f1e215cd3d460e1d8e8bf?s=150
" align="left"/></a>
        </div>
        <div class="box-content">
            <h3>Robin Thrift - <span class="speaker__talk-name">What The Flux</span></h3>
            <p>
                Flux is a new design pattern by Facebook that tries to streamline the way we handle data in our applications.
                It introduces new concepts and changes the way we think about data flow in our applications. In this talk I will cover the
                basic theory of flux and will then dive into some code to show you some real world usage.
            </p>
        </div>
    </div>
</article>
